.footer{ 

    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 25px;
    
}
.footer p{
    color: black;
    margin: 0 ;
    padding: 0 ;
    
}

.footer img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.footer-first-container {
    display: flex;
    align-items: center;
}
.footer-first-container img{
    width: 10px;
    height: 10px;
}

.menu {
    background: black !important;
}

.menu li{
    background-color: white;
    margin: 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu span {
    background-color: white;
    border-radius: 5px;
}

.menu .active {
    border-bottom: 2px red solid;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 999px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    background-color:  black;
    color: white;
    width: 150px;
    height: 38px;
    border-radius: 20px;
    border-style: none;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 3px 3px 5px black;
}  

.button:hover{
    background-color: rgb(34, 34, 34);
}

h2 {
    padding-left: 40px; 
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-img{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30%;
    grid-gap: 20px;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;    
}

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
    grid-row: span 2;
}

.container-section-two {
    padding-top: 60px;
    display: flex; 
    flex-direction: row; 
    overflow-x: scroll;
}

.images-section-two {
    width: 200px;
    height: 263px;
    object-fit:cover;
    border-radius: 6px;
    margin-left: 46px;
}


.container-section-three{
    height: 489px;
    display:flex;
    flex-direction: row;
    padding-top: 60px;
    overflow-x: auto;
}
.images-section-three{
    width: 33%;
    height: 489px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 46px;
}
.container-section-four{
    background-color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-left: 46px;
    margin-right: 46px;
    padding: 20px;
    color: white;
}
.images-section-four{
    width: 230px;
    height: 265px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 6px;
}
.container-section-four p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.title-main{
    margin-top: 40px;
    font-weight: bold;
    color: rgb(43, 43, 43);
}

.container-image-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 40px;
}

.filter-sort{
    margin-left: 46px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 40px;
}

.image-text img {
        width: 340px;
        height: 415px;
        object-fit: cover;
        border-radius: 6px;        
}

.image-text { 
    margin-bottom: 40px;  
}

.mujer-img {
    width: 33.3%;
    height: 100%;
    object-fit:cover
}
.container-image-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.container-image-text .card-hombre-contain{
    text-align: center;
}

.container-image-text .card-hombre{
    margin-bottom: 20px;
    margin-right: 5px;
}

.container-about-us div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.division-aboutus{
    margin-top: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
}


.container-about-us{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 40% ;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 48px;
    margin-right: 48px;
}

.container-about-us .img-one {
    grid-row: span 2;
}

.container-about-us .img-three {
    grid-row: span 2;
}

.contact-paragraph{
    margin-left: 46px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 40px;   
}

.contact-information li{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}

.information-one{
    padding-top: 30px;
    font-weight: bold;
}
.information-two{
    padding-top: 16px;
    font-weight: bold;  
}

.send-form{
    background-color:  black;
    color: white;
    width: 150px;
    height: 38px;
    border-radius: 20px;
    border-style: none;
    margin-top: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.last-paragraph{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 46px;
    padding-top: 40px;
}

.division {
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.form {
    margin-left: 46px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif; ;
}

.form input {
    background-color: rgb(219, 213, 213);
    border: none;
    height: 30px;
    border-radius: 6px;
}


@media only screen and (max-width: 767px) {
    .container-img{
        width: 70%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2px;
    }
    
    .disapear {
        display: none;
    }

    .container-img .box-img img{
        height: 200px;
    }


    .images-section-three{
        width: 70%;
    }

    .images-section-four:nth-child(2){
        display: none;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1){
        grid-column-start: span 1; 
    }

    .images-section-three{
        width: 40%;
    }
}